@import '../../styles/variables.scss';

.home{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(180px,auto);

    .box{
        padding: 20px;
        border:  1px solid;
        border-color: $soft-bg;
        border-radius: 5px;
    }
    .box1{
        grid-row:span 3;
    }
    .box4{
        grid-row: span 3;
    }
    .box7{
        grid-area: span 2 / span 2;
    }
}