.footer{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  
    span{
  
      &:first-child{
        font-weight: bold;
      }
  
      &:last-child{
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width:375px) {
    .footer{
      padding: 5px;
      span{
        font-size: 12px;
        &:last-child{
          font-size: 12px;
        }
      }
      // font-size: 10px;
}
}